<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="container">
    <nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <div class="form-group">
            <input type="hidden" th:value="${event.id}"/>
            <select th:field="${eventTag.tag}" >
                <option th:each="tag : tags"
                        th:text="${tag.name}"
                        th:value="${tag.id}">

                </option>
            </select>
        </div>
    </form>
</body>
</html>